package grpc

import (
	"log"
	"net"

	"google.golang.org/grpc"
	"{{.ModuleName}}/utils"
)

type Server struct {
	config *utils.Config
}

func NewServer(config *utils.Config) *Server {
	return &Server{
		config: config,
	}
}

func (s *Server) Start() error {
	lis, err := net.Listen("tcp", ":"+s.config.GRPCPort)
	if err != nil {
		return err
	}

	grpcServer := grpc.NewServer()
	
	// Register your gRPC services here
	// pb.RegisterYourServiceServer(grpcServer, yourServiceImpl)

	log.Printf("gRPC server listening on port %s", s.config.GRPCPort)
	return grpcServer.Serve(lis)
}
